<!--<div class="h-full bg-purple overflow-hidden w-full h-full mt-0 ml-0 mr-0 sessions">-->
<!--  <div class="flex content-center items-center justify-end h-full">-->
<!--    <span></span>-->
<!--    <div class="w-full lg:w-4/12 px-4 pt-32 absolute top-32 right-0">-->
<!--      <div class="relative flex flex-col min-w-0 break-words w-full pb-6 shadow-lg rounded-lg bg-white border-0">-->

<div class="flex justify-between">
  <div class="">
    <%= image_tag('register.png', size:'744x544') %>
  </div>
  <div class="absolute top-0 right-0 ">
    <div class="bg-white text-secondary">
      <div class="rounded-t px-4 py-6">
        <div class="mb-1">
          <div class="text-primary">
            <%= image_tag('logo_purple.svg') %>
            <h2 class="pt-9 text-xl"><%= t('general.welcome') %></h2>
            <p class="text-sm mt-1"><%= t('devise.sessions.login') %></p>
          </div>
        </div>
      </div>

      <div class="flex-auto px-4 py-10 pt-0">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="relative w-full mb-3">
            <label class="block px-1 text-gray-700 text-xs font-bold mb-2" for="grid-password"><%= f.label :email %></label>
            <%= f.email_field :email, placeholder: :email, autofocus: true, autocomplete: "email", style: "transition: all 0.15s ease 0s;",
                              class: "px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded
                                       text-sm shadow focus:outline-none focus:shadow-outline w-full"
            %>
          </div>

          <div class="relative w-full mb-3">
            <div class="flex justify-between">
              <label class="text-gray-700 text-xs font-bold mb-2 px-1" for="grid-password"><%= f.label :password %></label>
              <label class="mb-2"><%= render "users/shared/links" %></label>
            </div>
            <%= f.password_field :password, autocomplete: "current-password",
                                 style: "transition: all 0.15s ease 0s;",
                                 placeholder: "⚉ ⚉ ⚉ ⚉ ⚉ ⚉ ⚉ ⚉",
                                 class:"px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded
                                          text-sm shadow focus:outline-none focus:shadow-outline w-full"
            %>

            <div>
              <% if devise_mapping.rememberable? %>
                <div class="field mt-6">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </div>

            <div class="text-center mt-6">
              <button style="transition: all 0.15s ease 0s;"
                      class="bg-purple text-white active:bg-gray-700 text-sm font-bold px-6 py-3
                              rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
              >
                <%= f.submit "Login" %>
              </button>

            </div>
          </div>
        <% end %>

        <div>
          <div class="pl-6 pt-0 mt-2">
            <small><%= t('devise.sessions.new_here') %></small>
            <small class="ml-8 text-right"><%= render "users/shared/link_sign_up" %></small>
          </div>

          <div class="flex justify-center mt-0">
            <small class="text-center"><%= t('or') %></small>
          </div>

          <div class="text-center mt-2">
            <button class="bg-red-600 text-white active:bg-gray-700 text-sm font-bold px-6
                                    py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
            >
              <%= link_to t('devise.sessions.login_with_google'), root_path %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->